main {
  padding-top: 1rem;
}

video {
  background-color: black;
}

.header-section {
  display: flex;
  justify-content: space-around;
}

.app-title {
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}

.ani {
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}

.chat-room-divider {
  margin: 0;
}

.chat-list-container {
  width: 100%;
  margin-bottom: 150px;
}

.chat-room-list-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.room-enter-badge {
  margin: 4px;
  padding: 4px 8px;
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  cursor: pointer;
  transition: 0.3s;
}

.room-enter-badge:hover {
  color: var(--color-bg);
  background-color: var(--color-link);
}

.chat-list {
  width: 100%;
  padding: 0;
  list-style: none;
}

.chat-list li {
  margin: 4px 0;
  padding: 4px 8px;
  color: #000;
  background-color: #fafafa;
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  word-break: break-all;
  animation: 0.4s ease-in-out fadeIn;
}

.chat-form-container {
  display: flex;
  position: fixed;
  left: 1rem;
  bottom: 40px;
  right: 1rem;
}

.chat-room-form,
.nickname-form {
  display: flex;
  padding: 1rem;
  background-color: #fff;
}

.chat-submit-form {
  display: flex;
  padding: 1rem;
  flex: 1;
  background-color: #fff;
}

.chat-room-text-input,
.chat-submit-text-input,
.nickname-text-input {
  flex: 1;
  margin: 0;
  border-radius: 0;
}

.chat-room-create-button,
.chat-room-leave-button,
.chat-submit-send-button,
.nickname-save-button {
  margin: 0;
  padding: 0.5rem 1rem;
  border-radius: 0;
}

.chat-room-leave-button {
  margin-left: 10px;
  padding: 0.2rem 0.4rem;
  flex-shrink: 0;
}

.face-player-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 30%));
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.face-player-border {
  text-align: center;
}

.face-player {
  width: 100%;
}

.mirror-player {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.chat-controller {
  display: flex;
  align-items: center;
}

.chat-controller-toggle {
  margin-left: 10px;
  font-size: 2em;
  cursor: pointer;
}

.chat-controller-toggle.on {
  color: grey;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
